{% extends 'base.html' %}
<title>{% block title %}Intento | Delete order{% endblock %}</title>
{% block content %}
  <h1>Delete order</h1>
    <form method="POST">
      {% csrf_token %}
      <div>
        {{ object.institute }} - {{ object.discipline }}<br>
        Professor {{ object.teacher }}<br>
        Quantidade de questões - {{ object.question_quantity }}<br>
        Encomenda feita em {{ object.order_date }}<br>
        Entrega até {{ object.due_date }}
      </div>
      <br><strong>Are you sure?</strong><br/><br/>
      <button class="btn btn-secondary">Delete it!</button>
{% endblock %}