<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Question</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" />
  {{ form.media }}
  <script src="{% static 'js/image-resize.min.js' %}"></script>
  <link rel="shortcut icon" href="#" />
</head>
<body>
  <div id="editor">
    <form action="" method="POST">{% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-secondary">Create Question</button>
    </form>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
</body>
</html>