{% extends 'base.html' %}
{% block content %}
  {% for question in object_list %}
    <div>{{ question.base_text.html|safe }}</div>
    <div>{{ question.bibliographic_reference }}</div>
    <div>{{ question.question_statement.html|safe }}</div>
    <div>{{ question.answer_A.html }}</div>
    <div>{{ question.answer_B.html|safe }}</div>
    <div>{{ question.answer_C.html|safe }}</div>
    <div>{{ question.answer_D.html|safe }}</div>
    <div>{{ question.answer_E.html|safe }}</div>
  {% endfor %}
{% endblock %}