{% extends 'base.html' %}
{% load static %}
{% block title %} Intento | Dashboard {% endblock %}
{% block content %}
  <div class="users">
    <strong>TEMPORARY - USER LINKS</strong><hr>
    <a class="btn btn-primary" href="{% url 'user-creation' %}" role="button">Create new user</a>
    <a class="btn btn-primary" href="{% url 'edit-user' %}" role="button">Edit your profile</a>
  </div></br>
  <div class="disciplines">
  </div></br>
  <div class="orders">
    <strong>TEMPORARY - ORDER LINKS</strong><hr>
    <a class="btn btn-primary" href="{% url 'orders' %}" role="button">Order list</a>
    <a class="btn btn-primary" href="{% url 'create-order' %}" role="button">Create a order</a>
  </div><br>
  <div class="question">
    <strong>TEMPORARY - QUESTION LINKS</strong><hr>
    <a class="btn btn-primary" href="{% url 'questions' %}" role="button">Question list</a>
    <a class="btn btn-primary" href="{% url 'question-search' %}" role="button">Search a question</a>
  </div>
{% endblock %}