{% extends 'base.html' %}
{% load static %}
{% block title %}Intento | Question Details{% endblock %}
{% block content %}
  <div>{{ question.get_question_type_display }}</div>
  <div>{{ question.base_text_1.html|safe }}</div>
  <div>{{ question.bibliographic_reference_1 }}</div>
  <div>{{ question.question_statement.html|safe }}</div>
  <div>{{ question.question_A.html|safe }}</div>
  <div>{{ question.question_B.html|safe }}</div>
  <div>{{ question.question_C.html|safe }}</div>
  <div>{{ question.question_D.html|safe }}</div>
  <div>{{ question.question_E.html|safe }}</div>
  <div>{{ question.difficulty }}</div>
  <div>{{ question.bloom_taxonomy }}</div>
  <div>{{ question.question_information }}</div>
  <div>{{ question.correct_question }}</div>
  <div>{{ question.a_justification.html|safe }}</div>
  <div>{{ question.b_justification.html|safe }}</div>
  <div>{{ question.c_justification.html|safe }}</div>
  <div>{{ question.d_justification.html|safe }}</div>
  <div>{{ question.e_justification.html|safe }}</div>
  <a href="{% url 'update-question' order id_by_order %}" class="btn btn-secondary">Change Question</a>
{% endblock %}