.modal.show .modal-dialog {
    margin-inline-end: 50%
    /*display: inline-block;*/
}
.modal-open .modal {
    overflow-x: auto
}
.modal-content {
    width: fit-content;
}
.modal-text-fields {
    white-space: break-spaces;
    display: contents;
}
.modal-text-fields + p {
    white-space: break-spaces;
    display: contents;
}
