{% extends 'base.html' %}
<title>{% block title %}Order Details{% endblock %}</title>
{% block content %}
  {% for id_by_order in object.question_range  %}
    {% if object.question_details.id_by_order == id_by_order|add:"1" %}
      <div>
        <a href="{% url 'question-detail' questionorder.id object.question_details.id_by_order %}" method="POST" class="button">See Question {{ id_by_order|add:"1" }}</a>
      </div>
    {% else %}
      <div>
        <a href="{% url 'new-question' questionorder.id id_by_order|add:"1" %}" method="POST" class="button">Create Question {{ id_by_order|add:"1" }}</a>
      </div>
    {% endif %}
  {% endfor %}
  <a href="{% url 'download-questions' object.pk %}" class="button">Download Question List</a>
{% endblock %}
