{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
{{ block.super }}
{#      <link rel="stylesheet" href="{% static 'css/katex.min.css' %}" />#}
{#      <link rel="stylesheet" href="{% static 'css/monokai-sublime.min.css' %}" />#}
<script src="{% static 'js/image-resize.min.js' %}"></script>
<script src="{% static 'js/modules/BaseModule.js' %}"></script>
<script src="{% static 'js/modules/DisplaySize.js' %}"></script>
<script src="{% static 'js/modules/Toolbar.js' %}"></script>
<script src="{% static 'js/modules/Resize.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}